*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header{
  position: fixed;
  width: 100%;
  height: 120px;
  display: block;
  background-color: #101010;
}

.innerheader{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #101010;
}

.logoContainer img {
  object-position: 0px 6px;
  margin: 0 auto;
  color: white;
  height: 100px;
  width: auto;
  display: table-cell;
  vertical-align: bottom;
}

.logoContainer{
  height: 100%;
  display: table;
  float: left;
}

.logoContainer h1 {
  position: relative;
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 30px;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: "Mongolian Baiti";
  font-size: 35px;
}

.navigation li img{
  display: table-cell;
  object-position: 0px 0px;
  margin: 0 auto;
  color: white;
  height: 60px;
  display: table-cell;
  vertical-align: bottom;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.content{
  width: 75%;
  height: 3000px;
  display: block;
  margin: 0 auto;
  
}

.items{
  height: 1000px;
  width: 1000px;
  background-color: black;
}

.contentsbox{
  margin: 0 auto;
  height: 450px;
  width: 100%;
  background-color: red;
}