{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Register
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/ppage.css">
{% endblock %}

{% block content %}
  <!--- Header -->
  <div class="header">
    <div class="container">
      <div class="navbar"> 
        <div class="logo">
          <a href= "{{ url_for('HomePage') }}" >
            <img src="static/img/Logo.png">
          </a>
        </div>
    
        <nav>
          <ul>
            <li><a href= "{{ url_for('HomePage') }}" >
                Home
              </a></li>
              <li><a href= "{{ url_for('products') }}" >
                Products
              </a></li>
              <li><a href= "{{ url_for('About') }}" >
                About
              </a></li>
              <li><a href= "{{ url_for('Contact') }}" >
                Contact
              </a></li>
            <li><a href="{{ url_for('login') }}"><img src="static/img/avatar.png" width="35px" height="35px"></a></li>
          </ul>
        </nav>
        <a href="{{ url_for('shoppingCart') }}"><img src="static/img/ShoppingCart.png" width="35px" height="35px"></a>
      </div>
    </div>
</div>

<!-- About -->
<div class="small-container">
  <h1>
    From humble beginnings - Our Story
  </h1>
  <p>
    Originally founded in 1948, SuperShop prides itself on being the oldest and most prestigious webshop 
    in Northern Sweden, and with a very rich history, we have good reason to do so.
    SuperShop was invented by half-Danish, Half-Swedish Børge Jansson in his garage on a cold winter night, when we wanted to 
    buy some shoes, but was not able to walk to the store due to a snowstorm.
    This is when he decided that there should be an option to buy things - Without leaving your house.
  </p>
  <h3>
    The Original Concept
  </h3>
  <p>
    Børge immediately went to work on his new idea, and soon after, the city of Luleå was the first city in Sweden where you
    could place orders on everyday items remotely. You would simply call the phone central, ask for SuperShop, and then you could order as you liked.
    Delivery time was exceptionally short, even by today's standards. If an item was already in stock, and you lived within 200 km of our original warehouse,
    you could be expected to get your item in as quickly as just 3 hours on regular workdays - This is something we pride ourselves on, and still today, we hold
    the #1 spot for most consistant and fastest delivery of packages in Sweden.
  </p>
  <h3>
    Growth and Prosperity
  </h3>
  <p>
    The news of a "remote" store quickly spread through Sweden, and with that, the demand of course increased aswell. For 7 consecutive years, SuperShop was the
    fastest growing company in Scandinavia, quickly amassing more than 2500 employees and 40 warehouses spread all over Sweden. After a couple of decades, SuperShop expanded
    operations to Denmark, starting with Nakskov, which is also Børge's birthplace, and soon after expanding to several cities in the kingdom of Denmark, for example also in Nuuk
    and Tórshavn. Although the expansion to Denmark and later Norway has been a sucess, SuperShop has remained much bigger in Sweden. SuperShop has even become
    part of regular speech in Swedish, ever thought of where the phrase "Jag Superar den bara" when talking about online ordering instead of going to a physical store came from?
    Since 1948, SuperShop has handled more than 3 billion orders, and processed orders for more than 4 trillion SEK combined. Making us the 2nd biggest Company in Sweden, only
    behind Volvo.
  </p>
  <h3>
    SuperShop today - and Our Future
  </h3>
  <p>
    Today SuperShop is operating in all of Scandinavia, with more than 20 thousand employees and 150 warehouses. SuperShop alone is responsible for around 5% of the
    entire GDP of the Swedish economy. One of our main visions is that everyone in this world should be equal, and thus, we have recently started a bunch of offspring
    ventures, such as SuperFeed, which aims to solve world hunger by 2040. SuperFeed is currently helping to feed starving children in countries like Kenya and Ethiopia and also 
    helping in War-torn regions like Syria and Malmö. SuperKnowledge is a similar venture of ours, that focuses on teaching people in poorer areas with little to no access to
    schools. Mostly with a focus on teaching skills to children, but also to older people, since they will also benefit greatly from it. Our future plans are to keep growing 
    out these different ventures, in hopes of creating a better tomorrow for everyone.
  </p>
</div>


<!--- Footer --->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <img src="static/img/Logo.png">
        <p>You are what you buy. So make sure only to buy good products.</p>
      </div>
      <div class="footer-col-2">

      </div>
      <div class="footer-col-3">
        <h3>Want to visit our physical store?</h3>
        <p>We have physical stores are located at:</p>
        <p>Butiksgränd 1, Luleå, Sweden</p>
        <p>Ananasgatan 16, Örebro, Sweden</p>
        <p>Vattenmelonsvägen 2, Malmö, Sweden</p>
      </div>
      <div class="footer-col-4">
        <h3>Contact Information</h3>
        <p>+46 123 45 67</p>
        <p>Campusvägen 1</p>
        <p>977 00, Luleå - Sweden</p>
        <p>support@supershop.com</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}