{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>SuperShop | You are what you buy</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> 
</head>

<body>
  <!--- Header -->
  <div class="header">
    <div class="container">
      <div class="navbar"> 
        <div class="logo">
          <a href= "{{ url_for('HomePage') }}" >
            <img src="static/img/Logo.png">
          </a>
        </div>
    
        <nav>
          <ul>
            <li><a href= "{{ url_for('HomePage') }}" >
              Home
            </a></li>
            <li><a href= "{{ url_for('products') }}" >
              Products
            </a></li>
            <li><a href= "{{ url_for('About') }}" >
              About
            </a></li>
            <li><a href= "{{ url_for('Contact') }}" >
              Contact
            </a></li>
            <li><a href= "{{ url_for('support') }}" >
              Support
            </a></li>
            <li><a href="{{ url_for('search') }}"><img src="static/img/search.png" width="35px" height="35px"></a></li>
            <li><a href="{{ url_for('login') }}"><img src="static/img/avatar.png" width="35px" height="35px"></a></li>
          </ul>
        </nav>
        <a href="{{ url_for('shoppingCart') }}"> <img src="static/img/ShoppingCart.png" width="35px" height="35px"> </a>
        
      </div>
    </div>
  
  <div class="row">
    <div class="col-2">
      <h1>Being an athlete <br> is all about winning.</h1>
      <p>In order to win, you need a lot of talent and skill. <br> But most important is having the best equipment.</p>
      <a href="" class="btn">Explore our sports section</a>
    </div>
    <div class="col-2">
      <img src="/static/img/frontpage.png">
    </div>
  </div>
</div>

<!--- Featured categories --->
<div class="categories">
  <div class="small-container">
    <div class="title">    
      <p>FEATURED</p>
      <p2>CATEGORIES</p2>
      </div>
    <div class="row">
      <div class="col-3">
        <img src= "static/img/cat_ski.jpg">
        <p>Alpine</p>
        <!-- Size of images: 1300x1470 -->
      </div>
      <div class="col-3">
        <img src= "static/img/cat_soccer.jpg">
        <p>Sports</p>
      </div>
      <div class="col-3">
        <img src= "static/img/cat_shoes.jpg">
        <p>Footwear</p>
      </div>
    </div>
  </div>
</div>

<!--- Special Offer --->
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="static/img/specialOffer.png" class="offer-img">
      </div>
      <div class="col-2">
        <h2>2022</h2>
        <h1>Armada ARV 106</h1>
        <p>A seriously useful freestyle twin at a bargain price point, 
          the Armada ARV 106 Skis are all about affordable progression. 
          With a heavy duty Cap construction and beefy 2.5 Impact Edges, 
          the ARV 106 shrugs off topsheet chips and rail hits alike, 
          and rallies underfoot like an Armada is supposed to.</p>
        <a href="" class="btn">Shop</a>
      </div>
    </div>
  </div>
</div>

<!--- Footer --->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <img src="static/img/Logo.png">
        <p>You are what you buy. So make sure only to buy good products.</p>
      </div>
      <div class="footer-col-2">

      </div>
      <div class="footer-col-3">
        <h3>Want to visit our physical store?</h3>
        <p>We have physical stores are located at:</p>
        <p>Butiksgränd 1, Luleå, Sweden</p>
        <p>Ananasgatan 16, Örebro, Sweden</p>
        <p>Vattenmelonsvägen 2, Malmö, Sweden</p>
      </div>
      <div class="footer-col-4">
        <h3>Contact Information</h3>
        <p>+46 123 45 67</p>
        <p>Campusvägen 1</p>
        <p>977 00, Luleå - Sweden</p>
        <p>support@supershop.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}