<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <title></title>
</head>
<body>
  <div class="header"> 
    <div class="innerheader">
      <div class="logoContainer">
        <a href= "{{ url_for('HomePage') }}" ><img src="static/img/Logo.png" alt="logo"></li>
      </div>

      <ul class="navigation">
        <a><li>About</li></a>
        <a><li><img src="static/img/avatar.png" alt="avatar"></li></a>
        <a><li><img src="static/img/ShoppingCart.png" alt="cart"></li></a>
      </ul>
    </div>
  </div>
  <div class="content">  
    <div class="contentsbox">
      <div class="innerbox">
        <ul class ="shoppingitems"> 
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
          <a>this is an item </a>
        </ul>
      </div>
    </div>
</div>
</body>
</html>