{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/ppage.css">
{% endblock %}

{% block content %}
  <!--- Header -->
  <div class="header">
    <div class="container">
      <div class="navbar"> 
        <div class="logo">
          <a href= "{{ url_for('HomePage') }}" >
            <img src="static/img/Logo.png">
          </a>
        </div>
    
        <nav>
          <ul>
            <li><a href= "{{ url_for('HomePage') }}" >
              Home
            </a></li>
            <li><a href= "{{ url_for('products') }}" >
              Products
            </a></li>
            <li><a href= "{{ url_for('About') }}" >
              About
            </a></li>
            <li><a href= "{{ url_for('Contact') }}" >
              Contact
            </a></li>
            <li><a href="{{ url_for('login') }}"><img src="static/img/avatar.png" width="35px" height="35px"></a></li>
          </ul>
        </nav>
        <a href="{{ url_for('shoppingCart') }}"><img src="static/img/ShoppingCart.png" width="35px" height="35px"></a>
      </div>
    </div>
</div>

<!--- Login page --->
<div class="login">
    <form action="{{ url_for('search') }}" method="get">
        <input type="search" placeholder="Search" name="sTerm">
        <button type="submit">Search</button>
      </form>
</div>
{% if Lresults > 0 %}
<div class="col_container"> 
    {% for product in results %}
    <div class="item">
      <a href="{{ url_for('get_product',pID= product.id ) }}"> <img src="static/img/{{ product.product_img }}" width="300"> </a>
      <h4>{{ product.product_name }}</h4>
      <p2>{{ product.product_description }}</p2>
      <p>{{ product.product_price }} kr</p>
      <p>{{ product.product_qty }} Available</p>
      <a href="{{ url_for('quick_add',id= product.id ) }}" class="btn">Add to Cart</a>
    </div>
    {% endfor %} 
    {% endif %} 
  </div>
</div>     
{% if Lresults == 0 %}
<h4>SRY NO RESULTS</h4>
{% endif %} 
<!--- Footer --->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <img src="static/img/Logo.png">
        <p>You are what you buy. So make sure only to buy good products.</p>
      </div>
      <div class="footer-col-2">

      </div>
      <div class="footer-col-3">
        <h3>Want to visit our physical store?</h3>
        <p>We have physical stores are located at:</p>
        <p>Butiksgränd 1, Luleå, Sweden</p>
        <p>Ananasgatan 16, Örebro, Sweden</p>
        <p>Vattenmelonsvägen 2, Malmö, Sweden</p>
      </div>
      <div class="footer-col-4">
        <h3>Contact Information</h3>
        <p>+46 123 45 67</p>
        <p>Campusvägen 1</p>
        <p>977 00, Luleå - Sweden</p>
        <p>support@supershop.com</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}