{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/cart.css">
{% endblock %}

{% block content %}
{% set totals = [] %}

<!DOCTYPE html>
<html>
<head>
  <title>SuperShop | You are what you buy</title>
  <link rel="stylesheet" type="text/css" href="/static/css/cart.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> 
</head>

<body>
  <!--- Header -->
  <div class="header">
    <div class="container">
      <div class="navbar"> 
        <div class="logo">
          <a href= "{{ url_for('HomePage') }}" >
            <img src="static/img/Logo.png">
          </a>
        </div>
    
        <nav>
          <ul>
            <li><a href= "{{ url_for('HomePage') }}" >
              Home
            </a></li>
            <li><a href= "{{ url_for('products') }}" >
              Products
            </a></li>
            <li><a href= "{{ url_for('About') }}" >
              About
            </a></li>
            <li><a href= "{{ url_for('Contact') }}" >
              Contact
            </a></li>
            <li><a href="{{ url_for('login') }}"><img src="static/img/avatar.png" width="35px" height="35px"></a></li>
          </ul>
        </nav>
        <a href="{{ url_for('shoppingCart') }}"> <img src="static/img/ShoppingCart.png" width="35px" height="35px"> </a>
      </div>
    </div>
  </div>

  <!-- Body -->

<div class=cartcontainer> 
  <div class="cart content-wrapper">
    <h1>Shopping Cart</h1>
    {% if plen == 0  %}
              <tr>
                  <td colspan="5" style="text-align:center;">You have no products added in your Shopping Cart</td>
              </tr>
              
    {% endif %}
      {% for product in products %}  
        {% for cart in carts %}
          {% if cart.cartPID == product.id %}
            <table>
              <thead>
                  <tr>
                      <td colspan="2">Product</td>
                      <td>Price</td>
                      <td>Quantity</td>
                      <td>Total</td>
                  </tr>
              </thead>
              <tbody>
                
                  
                  <tr>
                      <td class="img">
                          <a href="{{ url_for('get_product',pID= product.id ) }}">
                            <img src="static/img/{{ product.product_img }}" width="50" height="50" alt="{{ product.product_name }}">
                          </a>
                      </td>
                      <td>
                          <a href="{{ url_for('get_product',pID= product.id ) }}">{{ product.product_name }}</a>
                          <br>
                          <a href="{{ url_for('remove',id= product.id) }}">Remove</a>
                          

                          <td class="price">{{ product.product_price }} kr</td>
                            <td> 
                            <form action="{{ url_for('updatecart', code=product.id) }}" method="post"> 
                              <input type="number" name="jallaquantity" min="1" max=10 value="{{ cart.cartQuantity }}">
                              <input type="submit" value="Update">
                            </form>
                            </td>
                            <td class="price">{{ product.product_price * cart.cartQuantity }} kr</td>
                            {% set orderquantity = cart.cartQuantity %}
                            {% if totals.append(product.product_price * orderquantity) %}{% endif %}
                      </td>
                      
                  </tr>
              </tbody>
          {% endif %}
          </table>
        {% endfor %}
        {% endfor %}
            {% if plen > 0  %}
            <div class="subtotal">
                <span class="text">Subtotal: </span>
                <span class="price">{{ '%0.2f' | format(totals | sum) }} kr</span>
            </div>
            {% endif %}

        <div class="buttons">
            <a href="{{ url_for('order', Total = '%0.2f' | format(totals | sum))}}" ><input type="submit" value="Place Order" name="placeorder"></a>
        </div>
  </div>
</div>
  
  <!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <img src="static/img/Logo.png">
        <p>You are what you buy. So make sure only to buy good products.</p>
      </div>
      <div class="footer-col-2">

      </div>
      <div class="footer-col-3">
        <h3>Want to visit our physical store?</h3>
        <p>We have physical stores are located at:</p>
        <p>Butiksgränd 1, Luleå, Sweden</p>
        <p>Ananasgatan 16, Örebro, Sweden</p>
        <p>Vattenmelonsvägen 2, Malmö, Sweden</p>
      </div>
      <div class="footer-col-4">
        <h3>Contact Information</h3>
        <p>+46 123 45 67</p>
        <p>Campusvägen 1</p>
        <p>977 00, Luleå - Sweden</p>
        <p>support@supershop.com</p>
      </div>
    </div>
  </div>
</div>
  
</body>
</html>
{% endblock %}